<button mat-icon-button color="black" aria-label="clear" data-bs-toggle="modal" data-bs-target="#Backdrop">
    <mat-icon>clear</mat-icon>
  </button>
  
  <button mat-icon-button color="black" aria-label="help" class="right" data-bs-toggle="modal" data-bs-target="#Helpdrop">
    <mat-icon >help</mat-icon>
  </button>
  <br>
  
  <h1 class = 'titulo'>{{ selectedSentence }}</h1>
  <!-- activity.component.html -->
  <mat-grid-list cols="4" rowHeight="700px">
    <div class="container">
      <div class="space2"></div>
      <mat-grid-tile colspan="1">
        <div class="example-container scrollable-list">
          <div cdkDropList #sceneList="cdkDropList" [cdkDropListData]="scene" [cdkDropListConnectedTo]="[correctList, incorrectList]" class="example-list2" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of scene" class="example-box" cdkDrag>
              <img [src]="imagesPath + item.toLowerCase() + '.jpg'" alt="{{item}}">
            </div>
          </div>
        </div>
      </mat-grid-tile>
  
      <div class="space"></div>
      <mat-grid-tile colspan="3">
        <div class="square-wrapper">
          <div class="vertical">
            <div class="vertical-container">
              <h2>Correcto</h2>
              <div class="example-container scrollable-list2">
                <div cdkDropList #correctList="cdkDropList" [cdkDropListData]="correct" [cdkDropListConnectedTo]="[sceneList, incorrectList]" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div *ngFor="let item of correct" class="example-box" cdkDrag>
                    <img [src]="imagesPath + item.toLowerCase() + '.jpg'" alt="{{item}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="vertical-container">
              <h2>Incorrecto</h2>
              <div class="example-container scrollable-list2">
                <div cdkDropList #incorrectList="cdkDropList" [cdkDropListData]="incorrect" [cdkDropListConnectedTo]="[sceneList, correctList]" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div *ngFor="let item of incorrect" class="example-box" cdkDrag>
                    <img [src]="imagesPath + item.toLowerCase() + '.jpg'" alt="{{item}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  
  <button class="center" (click)="checkAnswers()">CHECAR</button>
  
  <div class="space"></div>
  
  <!-- Modal -->
  <div class="modal fade" id="Backdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Si cierras esta actividad perderás todo tu progreso
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="button" class="btn btn-primary modal-green" data-bs-dismiss="modal" routerLink="/prueba">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Modal Help -->
  <div class="modal fade" id="Helpdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          En esta actividad deberás acomodar la actitud correcta que debes tomar con respecto a la situación que se te presenta.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>
  