<app-h-paciente></app-h-paciente>

<div class="grid-container">
  <div class="grid-item">
    <h2>Gráfica de Respuestas Correctas</h2>
    <ngx-charts-line-chart
      [view]="view"
      scheme="cool"
      [results]="correctasData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [legendTitle]="'Respuestas'"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>

  <div class="grid-item">
    <h2>Gráfica de Respuestas Incorrectas</h2>
    <ngx-charts-line-chart
      [view]="view"
      scheme="cool"
      [results]="incorrectasData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [legendTitle]="'Respuestas'"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-line-chart>
  </div>

  <div class="grid-item">
    <h2>Gráfica de Tiempo</h2>
    <ngx-charts-line-chart
      [view]="view"
      scheme="cool"
      [results]="tiempoData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [legendTitle]="'Tiempo'"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabelTime">
    </ngx-charts-line-chart>
  </div>

  <div class="grid-item">
    <h2>Gráfica Total de Respuestas</h2>
    <ngx-charts-bar-vertical
      [view]="view"
      scheme="cool"
      [results]="totalData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [legendTitle]="'Respuestas'"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
</div>



<app-menu-especialista *ngIf="tipo==='1'"></app-menu-especialista>
<app-mnu-paciente *ngIf="tipo==='2'"></app-mnu-paciente>