<app-h-paciente></app-h-paciente>

<div class="my-5"></div>
<div class="container text-center my-5">
  <h1 class="heading-animation">
    <span>Bienvenido a TEApp</span>
  </h1>
  <hr class="my-3">
  <p class="lead">¡Es un honor saber que colaboras con nosotros!</p>
  <p class="lead text-justify">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. 
    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
  </p>
</div>

<app-menu-especialista></app-menu-especialista>


