<app-h-paciente></app-h-paciente>

<div class="my-5"></div>
<div class="container text-center my-5">
  <h1 class="heading-animation">
    <span>Bienvenido a TEApp</span>
  </h1>
  <hr class="my-3">
  <p class="lead">¡Es un honor saber que colaboras con nosotros!</p>
  <p class="lead text-justify">
    En TEApp, creemos que cada niño merece el mejor apoyo posible para comprender y manejar sus emociones. Gracias a tu dedicación y experiencia, juntos podemos hacer una diferencia significativa en la vida de estos pequeños.
  </p>
</div>

<app-menu-especialista></app-menu-especialista>


