<app-h-paciente></app-h-paciente>

<div class="my-5"></div>
<div class="container text-center my-5">
  <h1 class="heading-animation">
    <span>Bienvenido a TEApp</span>
  </h1>
  <hr class="my-3">
  <p class="lead">¡Eres una pieza clave para TEApp!</p>
  <p class="lead text-justify">
    Gracias a tu dedicación y esfuerzo, mantenemos nuestra comunidad segura, organizada y en constante crecimiento. Tu labor no solo es vital para el buen funcionamiento de TEApp, sino que también inspira y motiva a todos los usuarios.
  </p>
</div>

<app-menuu-admin></app-menuu-admin>


