<app-header></app-header>
    <body class="form-signin w-100 m-auto bg-body-tertiary">
        <div *ngIf="!inicioDenied" class="alert alert-danger" role="alert">
            {{message}}
        </div>
        <form (ngSubmit)="verificar()">
            <div class="align-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                    <path fill-rule="evenodd"
                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>
            </div>
            <h1 class="h3 mb-3 text-center fw-bold">Inicio de sesión</h1>

            <div class="py-2 form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="usuario@correo.com" required [(ngModel)]="correo" name="correo">
                <label for="floatingInput">Correo electrónico</label>
                <div class="invalid-feedback">
                    El correo electrónico es un dato obligatorio.
                </div>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required [(ngModel)]="contrasena" name="contrasena">
                <label for="floatingPassword">Contraseña</label>
                <div class="invalid-feedback">
                    La contraseña es un dato obligatorio.
                </div>
            </div>

            <div class="col py-3">
                <a routerLink="/recuperarContrasena">¿Olvidaste tu contraseña?</a>
            </div>
            
            <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
        </form>
        <script src="../../../assets/js/checkout.js"></script>
        <router-outlet></router-outlet>
    </body>

