<app-header></app-header>

<body class="bg-body-tertiary">
    <div class="container">
        <main class="my-3">
            <div class="row p-0 m-0">
                <div class="col-4">
                    <div class="align-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(13, 110, 253)"
                            class="bi bi-clipboard2-check-fill" viewBox="0 0 16 16">
                            <path
                                d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5" />
                            <path
                                d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                        </svg>
                    </div>
                </div>
                <div class="col">
                    <h1 class="h3 mb-3 text-left fw-bold">Validar especialistas</h1>
                </div>
            </div>

            <div *ngIf="success" class="alert alert-success" role="alert">
                {{mensaje}}
            </div>
            <div *ngIf="!error" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>

            <div class="tb my-5">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Correo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Aceptar</th>
                            <th scope="col">Denegar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let especialista of especialistas">
                            <td>{{ especialista.correo }}</td>
                            <td>{{ especialista.nombres }} {{especialista.paterno}} {{especialista.materno}}</td>
                            <td class="text-center">
                                <div *ngIf="especialista.idespecialista === 1">
                                    <button class="image-button" (click)="validarPaciente(especialista.correo,'2')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                                            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                    </button>
                                </div>
                                <div *ngIf="especialista.idespecialista !== 1">
                                    Validado
                                </div>
                            </td>
                            <td class="text-center">
                                <button class="image-button" (click)="mostrarAlert(especialista)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                        class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>