
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="fab-container position-fixed bottom-0 end-0 mb-3 me-3">
    <div class="fab shadow">
      <div class="fab-content">
        <span class="material-symbols-outlined color size-40">list</span>
      </div>
    </div>
    <div class="sub-button shadow">
      <a routerLink="/validarPacientes" target="_blank">
        <span class="material-symbols-outlined color">user_attributes</span>
      </a>
    </div>
    <div class="sub-button shadow">
      <a routerLink="/estadisticaEspecialista" target="_blank">
        <span class="material-symbols-outlined color">bar_chart</span>
      </a>
    </div>
    <div class="sub-button shadow">
      <a routerLink="/pacientesAsignados" target="_blank">
        <span class="material-symbols-outlined color">stadia_controller</span>
      </a>
    </div>
    <div class="sub-button shadow">
      <a routerLink="/modificarDatos" target="_blank">
        <span class="material-symbols-outlined color">edit</span>
      </a>
    </div>
    <div class="sub-button shadow" (click)="cierreSesion()">
      <a  target="_blank">
        <span class="material-symbols-outlined color">logout</span>
      </a>
    </div>
  </div>


  <router-outlet></router-outlet>