<app-h-paciente></app-h-paciente>

<body class="bg-body-tertiary">
    <div class="container">
        <main class="my-3">
            <div class="row p-0 m-0">
                
                    <div class="d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(13, 110, 253)" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                        </svg>
                        <h2 class="ms-2 mb-0">Asignar actividades</h2>
                    </div>

                <div *ngIf="altaSuccess" class="alert alert-success" role="alert">
                    {{altaMessage}}
                </div>
                <div *ngIf="!altaError" class="alert alert-danger" role="alert">
                    {{altaMessage}}
                </div>
            </div>


            <div class="tb my-5">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Correo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Emoción</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">No. de reactivos</th>
                            <th scope="col">Asignar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes">
                            <td >{{ paciente.correo }}</td>
                            <td>{{ paciente.nombres }} {{paciente.paterno}} {{paciente.materno}}</td>
                            <td class="text-center ">
                                <select id="mySelectEmocion" class="form-select form-select-sm" size="1" [(ngModel)]="emocion" name="correo">
                                    <option value="alegria">Alegría</option>
                                    <option value="enojo">Enojo</option>
                                    <option value="tristeza">Tristeza</option>
                                    <option value="miedo">Miedo</option>
                                    <option value="asco">Asco</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select id="mySelect" class="form-select form-select-sm" size="1" [(ngModel)]="act" name="act" (change)="handleSelectChange()">
                                  <option value="activity1">Actividad 1</option>
                                  <option value="activity2">Actividad 2</option>
                                  <option value="activity3">Actividad 3</option>
                                  <option value="activity4">Actividad 4</option>
                                  <option value="activity5">Actividad 5</option>
                                </select>
                              </td>
                              <td class="center">
                                <input type="number" class="form-control" aria-label="Numero de repeticiones" min="1" [(ngModel)]="reactivo" name="reactivo" [disabled]="act === 'activity1' || act === 'activity2' || act === 'activity5'">
                              </td>                              
                            <td class="text-center">
                                <button class="btn btn-primary" type="submit" (click)="asignarAct(paciente.idpaciente,paciente.idespecialista)">Asignar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
<app-menu-especialista></app-menu-especialista>