<app-h-paciente></app-h-paciente>

<div class="my-5"></div>
<div class="container text-center my-5">
  <h1 class="heading-animation">
    <span>Bienvenido a TEApp</span>
  </h1>
  <hr class="my-3">
  <p class="lead">¡Una gran aventura te espera!</p>
  <p class="lead text-justify">
    Cada emoción es una nueva oportunidad para aprender y crecer. Juntos, exploraremos el maravilloso mundo de tus sentimientos y descubriremos el poder que hay en ti para manejarlos. ¡Te acompañaremos en cada paso!
  </p>
  <app-mnu-paciente></app-mnu-paciente>
</div>

