html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  :host {
    display: block;
    /*background-color: rgba(239, 244, 245, 0.812);*/
    height: 100%;  
    overflow-y: auto;
    /*background-image: url('../../../../assets/img/background.jpg');*/
    background-color: #7fbddb;
    background-size: cover; /* para cubrir todo el área del fondo */
    background-position: center; /* para centrar la imagen */
  }

  
  
  .video-container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0px 3px 0 5px rgb(177, 176, 176);
    border-radius: 10px;
    margin: 40px;
    padding: 5%;
}

    youtube-player {
      width: 100%;
      height: auto; /* Mantiene la relación de aspecto */
  }
    
  
    .progress-bar {
      width: 100px; /* Ajusta el valor según el espacio que quieras reducir */
    }

    .reduce-top-margin {
      margin-top: -300px; /* Ajusta el valor según el espacio que quieras reducir */
    }

    .reduce-bottom-margin {
      margin-bottom: -100px; /* Ajusta el valor según el espacio que quieras reducir */
    }
    
  
    .center {
      width: 90%; /* Ancho fijo */
      height: 100%; /* Altura fija */
      max-width: 1000px;
      max-height: 80px;
      background-color: #57c95b; /* Color de fondo */
      border: none; /* Sin borde */
      border-radius: 20px; /* Bordes redondeados */
      color: white; /* Color del texto */
      text-align: center; /* Texto centrado horizontalmente */
      text-decoration: none; /* Sin subrayado */
      display: flex; /* Flexbox para centrar */
      align-items: center; /* Centrado vertical */
      justify-content: center; /* Centrado horizontal */
      font-size: 1.2em; /* Tamaño de la fuente */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      outline: none; /* Sin contorno al hacer clic */
      padding: 0.5em; /* Padding */
      margin: 0 auto; /* Centra horizontalmente */
      margin-top: 30px;
      margin-bottom: 10px;
      font-family: Helvetica, sans-serif; /* Tipo de letra */
      box-shadow: 0px 2px 0px 4px #2faf35; 
      transition: transform 0.3s ease 0s;
  }
    
    
    .center:hover {
      transform: translateY(-10px);
      background-color: #45a049; /* Cambia el color de fondo al pasar el ratón sobre el botón */
    }
    
    .center:active {
      background-color: #367939; /* Cambia el color de fondo cuando se hace clic en el botón */
    }


    .modal-green{
      background-color:#2faf35;
      color: white;
      border: none;
    }

    .modal-green:active {
      background-color: #367939; /* Cambia el color de fondo cuando se hace clic en el botón */
    }

    .right{
      position: absolute;
      right: 0;
    }

    .titulo{
      justify-content: center;
      text-align: center;
      font-size: 4em;
      font-weight: bold;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(0, 0, 0);
    }

    .centrado{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }














    /* Media queries para ajustar el contenedor en pantallas más pequeñas */
@media (max-width: 720px) {


  .center{
    font-size: 1em; /* Reducir el tamaño de fuente en pantallas más pequeñas */
    padding: 0.5em; /* Ajustar el padding */
    max-width: 60%; /* Más flexibilidad en el ancho */
    height: 100%;
  }


}

@media (max-width: 400px) {

  .center {
    font-size: 0.9em; /* Reducir aún más el tamaño de fuente */
    padding: 0.5em; /* Más ajuste en el padding */
    max-width: 60%; /* Permitir que el contenedor ocupe todo el ancho disponible */
    height: 100%;
}

}