<!-- Botones para cerrar la actividad y ayuda -->
<button mat-icon-button color="black" aria-label="clear" data-bs-toggle="modal" data-bs-target="#Backdrop">
  <mat-icon>clear</mat-icon>
</button>

<button mat-icon-button color="black" aria-label="help" class="right" data-bs-toggle="modal" data-bs-target="#Helpdrop">
  <mat-icon>help</mat-icon>
</button>
<br>
<br>


<div *ngIf="mostrarFin" class="contenedor2">
  <div class="container">
    <p>Fin de la historia.</p>
  </div>
  <button (click)="terminarHistoria()" class="center">Terminar Historia</button>
</div>


<!-- Grid para las historias y opciones -->
<div *ngIf="mostrarHistoria && !mostrarFin" class="contenedor-grid">
  <div class="grid-img">
    <img [src]="imagenActual" alt="Imagen de la historia" class="historia-imagen">
  </div>
  <div class="grid-text-buttons">
    <div class="text-container">
      <p [innerHTML]="historiaActual"></p>
    </div>
    <div *ngIf="mostrarOpciones" class="buttons-container">
      <button *ngFor="let opcion of opciones[emocion][pasoActual]; let i = index"
              (click)="elegirOpcion(opcion.correcta, i)" class="opcion-btn">
        {{ opcion.texto }}
      </button>
    </div>
  </div>
</div>

<!-- Modal para errores -->
<!-- Modal para errores -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-red">

      </div>
      <div class="modal-body row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col">
          <p>Esa no es la mejor opción.</p>
          <p>{{ reflexionActual }}</p>
        </div>
        <div class="col">
          <img [src]="'../../../../assets/img/respuestas/bad.png'" alt="Imagen de la historia" width="200px">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal para confirmar cierre -->
<div class="modal fade" id="Backdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Si cierras esta actividad perderás todo tu progreso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary modal-green" data-bs-dismiss="modal" routerLink="/actividadesAsignadas">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de ayuda -->
<div class="modal fade" id="Helpdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        En esta actividad deberás acomodar la actitud correcta que debes tomar con respecto a la situación que se te presenta.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>


<!-- Contenedores para las imágenes animadas -->
<div id="feedback-container" [ngClass]="{'show': showFeedback}">
  <img [src]="feedbackImage" alt="Feedback Image" class="feedback-image">
</div>