<!-- Botones para cerrar la actividad y ayuda -->
<button mat-icon-button color="black" aria-label="clear" data-bs-toggle="modal" data-bs-target="#Backdrop">
  <mat-icon>clear</mat-icon>
</button>

<button mat-icon-button color="black" aria-label="help" class="right" data-bs-toggle="modal" data-bs-target="#Helpdrop">
  <mat-icon>help</mat-icon>
</button>
<br>
<br>


<div *ngIf="mostrarFin" class="contenedor2">
  <div class="container">
    <p>Fin de la historia.</p>
  </div>
  <button (click)="terminarHistoria()" class="center">Terminar Historia</button>
</div>


<!-- Grid para las historias y opciones -->
<mat-grid-list cols="1" rowHeight="1600px">
  <mat-grid-tile colspan="1">
    <div *ngIf="mostrarHistoria && !mostrarFin" class="contendor" >
      <div class="container-img" >
        <img [src]="imagenActual" alt="Imagen de la historia" class="historia-imagen" > <!-- Nueva imagen -->
      </div>
      <div class="container flex">
        <p [innerHTML]="historiaActual"></p>
      </div>
      <br>
      <div *ngIf="mostrarOpciones">
        <button *ngFor="let opcion of opciones[emocion][pasoActual]; let i = index"
                (click)="elegirOpcion(opcion.correcta, i)" class="center">
          {{ opcion.texto }}
        </button>
        <br>
        <br>
      </div>
      <div *ngIf="mostrarError" class="contenedor">
        <button (click)="regresar()" class="center-back">Regresar</button>
        <div class="container">
          <p>Esa no es la mejor opción.</p>
        </div>
        <br>
        <div class="container">
          <p>{{ reflexionActual }}</p> <!-- Mostrar la reflexión aquí -->
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>



<!-- Modal para confirmar cierre -->
<div class="modal fade" id="Backdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Si cierras esta actividad perderás todo tu progreso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-primary modal-green" data-bs-dismiss="modal" routerLink="/actividadesAsignadas">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de ayuda -->
<div class="modal fade" id="Helpdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        En esta actividad deberás acomodar la actitud correcta que debes tomar con respecto a la situación que se te presenta.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>
